 Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_GOOGLE_MAPS_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Payment Gateway Configuration
VITE_PSK_PUBLIC_KEY=
VITE_PSK_SECRET_KEY=

# Development Environment
VITE_DEV_PWA=

# GitHub Configuration
GITHUB_AUTH=

# Google Application Credentials
GOOGLE_APPLICATION_CREDENTIALS=

# Firebase Emulator Configuration
FIREBASE_AUTH_EMULATOR_HOST=
FIRESTORE_EMULATOR_HOST=

# Mode
MODE=

# Base URL
VITE_BASE_URL=

# Google Auth Configuration
G_AUTH_CLIENT_ID=
G_AUTH_CLIENT_SECRET=

# Google Analytics Configuration
VITE_GA_ID=

# Gemini API Configuration
GEMINI_API_KEY=